.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.85);
}

.modal {
  position: fixed;
  top: 30vh;
  left: 10%;
  width: 80%;
  z-index: 100;
  overflow: hidden;
}

.header {
  background: #f16254;
  border-radius: 2px;
  padding: 1rem;
}

.header h2 {
  margin: 0;
  color: #ffffff;
}

.content {
  /*background-color: rgba(176, 111, 111, 0.3);*/
  padding: 1rem;
  color: #aeabab;
  font-size: 1.4rem;
  text-align: center;
}

.actions {
  margin-top: .8rem;
  padding: 1rem;
  display: flex;
  justify-content: flex-end;

}

@media (min-width: 768px) {
  .modal {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}


@media (max-width: 768px) {
  .header h2 {
    font-size: 1.4rem;
  }
}
