.nav {
    height: 5rem;
    background: #fff;
    /*width: 80%;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1.1rem;
}
@media screen and (max-width: 800px){
    .nav {
        height: 3.9rem;
    }
}

.logo {
    width: 10vmin;
    /*height: 40vmin;*/
    margin: .8rem;
}

.logout {
    background-color: transparent;
    border: 0 solid transparent;
    font-size: 2.7vmin;
     color: #446d6b;
    font-weight: 700;
    cursor: pointer;
}

.logout:hover {
    color: #9d6666;
}

.nav__menu {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
}

.nav__menu--item {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
}




@media screen and (max-width: 800px){
    .nav__menu--mobile {
    width: 100%;
        height: 100%;
        background-color: rgba(0,0,0, .85);
    display: flex;
        flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
        position: fixed;
        top: 3.9rem;
        right: 0;
}
}

.nav__menu--user {
    width: 60vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.6rem;
}


.nav__menu li {
    /*text-decoration: none;*/
    /*color: #446d6b;*/
    /*font-size: 1.7rem;*/
    font-weight: 700;
    text-transform: uppercase;
}

.nav__menu li a:Hover {
    /*margin-left: ;*/
    color: #b16d6d;
        transform: translateY(-10px);
}

.nav__active {
    color: #b16a6a;
    /*transform: translateY(-10px);*/
}

.nav__accountName {
    margin-top: .5rem;
    color: #9d6666;
    text-transform: uppercase;
}

.nav__accountSvg {
    color: #9d6666!important;
    width: 2rem;
    margin-right: .5rem;
}


